#body {
  padding: 0.8rem;
  background-color: #eae9f6;
}
p {
  color: #021836;
  margin-bottom: -0.1rem;
}
h3 {
  color: #03214a;
}
.title {
  font-size: 1.5rem;
  color: #021836;
  text-align: center;
}
.title-div {
  background-color: #9da6b3;
  width: 30%;
  padding: 0.1rem;
  margin: 0.8rem;
  border-radius: 0.2rem;
}
.main-content-div {
  background-color: #d1d9e6;
  padding: 0.4rem;
  margin: 0.8rem;
  border-radius: 0.4rem;
}
.version {
  color: #cfe4fa;
  font-size: 0.7rem;
  text-align: center;
}
.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: #12363d;
  padding: 0.2rem;
}
.link {
  color: #cfe4fa; 
  font-size: 0.7rem;
}
.link:hover {
  color: #ccbdfc; 
  font-size: 0.75rem;
}
.link-separator {
  color: #cfe4fa; 
  font-size: 0.7rem;
}
