#body {
  padding: 0.8rem;
}
.title {
  font-size: 1.5rem;
  color: #011024;
}
.title-div {
  background-color: #9da6b3;
  width: 60%;
  height: 2.3rem;
  padding: 0.4rem;
}
.main-content-div {
  background-color: #c7ccd4;
  width: 90%;
  padding: 0.4rem;
}
.version {
  color: #cfe4fa;
  font-size: 0.7rem;
  text-align: center;
}
.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: #12363d;
  height: 2.5rem;
  padding: 0.2rem;
}
.link {
  color: #cfe4fa; 
  font-size: 0.7rem;
}
.link:hover {
  color: #ccbdfc; 
  font-size: 0.75rem;
}

