#body {
  padding: 0.8rem;
}
.title {
  font-size: 1.5rem;
  color: #011024;
}
.title-div {
  color: #9da6b3;
  width: 60%;
  height: 1.7rem;
}
.main-content-div {
  color: #c7ccd4;
  width: 90%;
}
.version {
  color: red;
  font-size: 0.7rem;
  text-align: center;
}
.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: yellow;
}
